.container {
  margin: auto;
  margin-top: 10%;
  width: 90%;
  height: 100%;
  text-align: center;
}
.input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
}
h1 {
  font-size: 40px;
}
.btn {
  width: 50%;
  height: 40px;
  border-radius: 5px;
  background-color: rgb(89, 120, 224);
  color: white;
  font-size: larger;
  margin-top: 20px;
}
.message{
    color: red;
    margin-top: 10px;
}
